/* SUMMARY -------------
Universal Styles
Typography
Buttons */


/* Universal Styles*/
html {
    font-size: 16px;
}

header {
    margin-top: 1%;
    margin-bottom: 1.5%;
    border-bottom: 1px solid white;
}

/* Typography */

h1, h2 {
    font-family: "Roboto";
    letter-spacing: 0.1em;
}


/* HEADER */

.subtitle {
    letter-spacing: 0.05em;
}

.nav-item:hover {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

/* MAIN */

img {
    background-size: cover;
    max-width: 100%;
    margin-bottom: 2.5%;
    border-top: 2px solid white;
    padding-top: 3%;
}


.projects {
    margin-top: 1.5%;
    border-bottom: 1px solid white;
}

.quadro {
    color: white;
    background-size: cover;
    margin-bottom: 1.5%;
}

.quadro a:hover {
    color: aqua;
}

footer {
    margin: 2.5% auto;
}

/* Buttons */